{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your Phone Number" %}{% endblock %}

{% block content %}
    <h1>{% trans "Verify Your Phone Number" %}</h1>

    <p>{% blocktrans %}We have sent an SMS to you for verification with a verification code. Enter that code to complete verification process. {% endblocktrans %}</p>

<form action="{% url "phone_verification_sent" %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>

{% endblock %}
