{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Please enter your phone number" %}{% endblock %}

{% block content %}
    <h1>{% trans "Please Enter Your Phone Number" %}</h1>

    <p>{% blocktrans %}We will resend the SMS with verification code. Enter your phone number complete verification process. {% endblocktrans %}</p>

<form action="{% url "resend_phone_code" %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>

{% endblock %}
